apiVersion: apps/v1
kind: Deployment
metadata:
  name: comments-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: comments
  template:
    metadata:
      labels:
        app: comments
    spec:
      containers:
        - name: comments
          image: arturkeerd/comments:latest
          imagePullPolicy: Always
          env:
            - name: AUTH_URL
              value: http://auth-srv:5006
            - name: ACCESS_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secrets
                  key: ACCESS_TOKEN_SECRET